* {
    padding: 0;
    margin: 0;


}



h1 {
    font-size: 14pt;
}
p {
    font-size: 12pt;
}

.container {

    padding: 0;
    margin: 0;


    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;

    background-image: url("../img/background1-cvmaker.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;

    flex-direction: row;

}

/*



@media screen and (min-width: 600px) {

    #container-cards {
        flex-direction: row;
    }

}









#container-cards p {

    display: flex;
    width: 100%;
    padding: 1%;
    list-style: none;
    height: 100%;





    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;


    justify-content: space-around;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;








*/

#container-cards {
    width: 100%;

}

.card {
    display: flex;
    background-color: #FFFFFF;
    color: #061F62;
    border-radius: 10px;
    padding: 15px;


    height: auto;




    font-family: 'Montserrat ExtraLight', sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    flex-direction: row;
    -webkit-box-shadow: 0px 11px 32px -9px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 11px 32px -9px rgba(0,0,0,0.15);
    box-shadow: 0px 11px 32px -9px rgba(0,0,0,0.15);
    width: calc(80%/3);
    margin: 10px;
}

.card > h1 {
    color: #061F62;
}

@media screen and (max-width: 600px) {

    * {

        font-family: 'Montserrat ExtraLight', sans-serif;
        vertical-align: center;
    }

    .card {

        position: relative;
        display: block;
        vertical-align: center;
        width: 75%;




    }

    .menu li {
        visibility: hidden;
    }



}

.menu {
    position: fixed;
    bottom: 20px;
    left: 35px;
    display: inline;
}

.menu li {
    display: inline-block;
    margin: 20px;
    color: #FFFFFF;
    font-family: "Montserrat SemiBold", sans-serif;
    list-style-type: none;

}
.menu li a {
    color: #FFFFFF;
    text-decoration: none;

}

.menu li a:hover {
    background-color: #FFFFFF;
    padding: 30px;
    color: #061F62;
    border-radius: 10px;
}


.start-button {
    display: flex;
    position: relative;
    width: 25%;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;


    background-color: white;
    color: #061F62;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    vertical-align: center;
    -webkit-box-shadow: 0px 11px 32px -9px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 11px 32px -9px rgba(0,0,0,0.66);
    box-shadow: 0px 11px 32px -9px rgba(0,0,0,0.66);
    -webkit-transition: ease-in-out 0.6s;
}

.start-button:hover {
    background-color: #061F62;
    color: #FFFFFF;
    -webkit-transition: ease-in-out 0.6s;
    cursor: pointer;
}



.card {
    float: left;
}

.fixed-text {
    display: flex;
    margin: 50px;

}

#fixed-text-description-title {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 80px;
    color: #FFFFFF;

}

#fixed-text-description-subtext {
    font-family: 'Montserrat Light', sans-serif;
    font-size: 40px;
    color: #FFFFFF;
}

.card_text {
    text-align: center;
    vertical-align: center;
}



